#body {
    background-image: url("assets/bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    
}

#heading {
    color: whitesmoke;
    text-shadow: 3px 3px rgb(97, 15, 145);
    width: 90%;
    text-align: center;
    margin-top: 10%;
}

.inputLabel{
    color: white;
    text-shadow: 1px 1px black;
}

.textArea{
    width: 90%;
    align-content: center;
    max-width: 720px;
    padding-top: 30px;
}

#errors{
    padding: 20px;
}

#button{
    margin-top: 10px;
    margin-left: 40%;
    max-width: 200px;
}
