#body {
    background-image: url("assets/bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    
}

#heading {
    color: whitesmoke;
    text-shadow: 3px 3px rgb(97, 15, 145);
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

.inputLabel{
    color: white;
    text-shadow: 2px 1px black;
}

.textArea{
    width: 90%;
    align-content: center;
    max-width: 720px;
    padding-top: 30px;
}

#errors{
    padding: 20px;
}

#button{
    margin-top: 10px;
    margin-left: 36%;
    max-width: 200px;
}

#accordionOne{
    max-width: 450px;
    align-self: center;
    align-content: center;
    color-scheme: grey;
    padding: 10px;
}

.btn-link{
    align-items: center;
    align-content: center;
    text-align: center;
    text-emphasis: bold;
}

#acc{
    border-radius: 25px;
    opacity: 0.75;
    color: black;
    text-shadow: 0px 1px black;
    max-width: 450px;
}

.form-control{
    max-width: 600px;
    border-radius: 40px;
}